.navbar-default {
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-default.mode-home {
  background-color: rgba(0,0,0,.55);
  border-color: rgba(255,255,255,.55);
  background-image: none;
}

.navbar-default .navbar-brand {
  font-weight: 900;
  color: #171717;
  font-family: 'Montserrat', sans-serif;
}

.navbar-brand.mode-home {
  color: #fff;
}

.navbar-default .navbar-brand .sub-brand {
  font-weight: 300;
}